<div class="row mt-5 d-flex justify-content-center text-center">
    <div class="col-12">

        <%= form_tag("/", method: "get", id: "task_order_form") do %>
            <%= label_tag "Ordenação" %>
            <%= select_tag(:order, options_for_select([["Mais recentes primeiro", "DESC"], ["Mais antigas primeiro primeiro", "ASC"]], @order), id: "task_order_select", class: "form-select form-select-sm mb-3") %>
        <% end %>

    </div>    
</div>
<div class="row mt-2 mb-5 d-flex justify-content-center text-center">

    <%= render "status_button", button_color: "secondary", button_title: "Todas", button_class: "task_status_btn", data_status: "all" %>
    <%= render "status_button", button_color: "warning", button_title: "Pendentes", button_class: "task_status_btn", data_status: "pending" %>
    <%= render "status_button", button_color: "primary", button_title: "Andamento", button_class: "task_status_btn", data_status: "in_progress" %>
    <%= render "status_button", button_color: "success", button_title: "Concluídas", button_class: "task_status_btn", data_status: "finished" %>

    <%= form_tag("/", method: "get", id: "task_status_form") do %>
        <%= render "partials/inputs/hidden", input_name: "status", input_id: "task_status_input", input_value: @status, input_class: "" %>
    <% end %>
</div>