<%= form_with model: @task do |form| %>
    <div>
        <strong><%= form.label "Título" %></strong><br />
        <%= form.text_field :title, class: "form-control" %><br />        
    </div>
    <br />
    <div>
        <strong><%= form.label "Descrição" %></strong><br />
        <%= form.text_area :body, class: "form-control" %><br />
    </div>
    <div>
        <%= form.label "Status" %><br>
        <%= form.select(:status, [["Pendente", "pending"], ["Em andamento", "in_progress"], ["Concluída", "finished"]], {:selected => @task.status}, { :class => "form-select" }) %>
    </div>
    <div>
        <br />
        <%= form.submit @task.form_button_text, class: "btn btn-success btn-block btn-lg btn-width-full" %>
    </div>
<% end %>