<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>TaskBuddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>
<body>
    <% unless !current_user %>
        <%= render "partials/navbar" %>
    <% end %>

    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="centered-container">
                  <h2 class="text-center mb-4"><%= yield :h2title %></h2>
                  <%= yield %>
              </div>
          </div>
      </div>
    </div>
    <%= javascript_include_tag "bootstrap" %>  
</body>
</html>