<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>TaskBuddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <style>
        .login-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 100px;
        }
    </style>

    <%= javascript_importmap_tags %>
  </head>
<body>
    <%= yield %>
    <%= javascript_include_tag "bootstrap" %>  
</body>
</html>